@font-face {
    font-family: 'ModerneFraktur';
    src: url('../fonts/ModerneFraktur.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SteelplateTextura';
    src: url('../fonts/SteelplateTextura.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("../Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-display:   wap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

* {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'ModerneFraktur', sans-serif;
    font-size: 62px;
    margin: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    text-shadow: 
    1.2px 1.2px 0 rgba(255, 255, 255, 0.5),
    -1.2px -1.2px 0 rgba(255, 255, 255, 0.5),
    1.2px -1.2px 0 rgba(255, 255, 255, 0.5),
    -1.2px 1.2px 0 rgba(255, 255, 255, 0.5),
    1.2px 0 0 rgba(255, 255, 255, 0.5),
    -1.2px 0 0 rgba(255, 255, 255, 0.5),
    0 1.2px 0 rgba(255, 255, 255, 0.5),
    0 -1.2px 0 rgba(255, 255, 255, 0.5),

    0.8px 1.0px 0 rgba(255, 255, 255, 0.5),
    -0.8px -1.0px 0 rgba(255, 255, 255, 0.5),
    1.0px -0.8px 0 rgba(255, 255, 255, 0.5),
    -1.0px 0.8px 0 rgba(255, 255, 255, 0.5),
    0.5px 1.1px 0 rgba(255, 255, 255, 0.5),
    -0.5px -1.1px 0 rgba(255, 255, 255, 0.5),
    1.1px 0.5px 0 rgba(255, 255, 255, 0.5),
    -1.1px -0.5px 0 rgba(255, 255, 255, 0.5);
}

h2, p {
    margin: 0;
}

ul {
    list-style: none;
	padding: 0px;
}

body {
    height: 100%;
    width: 100vw;
    background-image: url(../svg/Slavic_pattern.svg);
    background-repeat: repeat;
    background-size: 220px auto;
	background-color: rgba(0, 0, 0, 0.01);
}

.header {
	display: flex;
    flex-direction: column;
    gap: 0;
	width: 100vw;
	height: 50vh;
	background: #FFF;
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: rgba(210, 180, 140, 1.0);
}

.header__nav-bar {
	width: 80%;
    display: flex;
    align-items: center;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    height: 100%;
}

.header__nav-item:not(:last-child) {
    margin-right: 5%;
}

.header__nav-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 2;
}

.header__nav-link {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: background-color 0.3s ease;
    overflow-y: hidden;
}

.header__nav-item:hover {
    background-color: rgba(255, 228, 196, 1.0);
    cursor: pointer;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.4), -3px 0px 4px rgba(0, 0, 0, 0.4);
}

.header__nav-item.active {
    background-color: rgba(255, 228, 196, 1.0);
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.4), -3px 0px 4px rgba(0, 0, 0, 0.4);
}

.hero {
	width: 100%;
	height: 40vh;
	background-image: url(../img/heroimg.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5)
}

.hero__container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

.main {
    display: grid;
    gap: 40px;
    place-items: center;
    min-height: 100vh;
    text-align: center;
	width: 80vw;
	margin-left: 10%;
    padding-bottom: 70px;
	background-color: white;
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5), -5px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 228, 196, 1.0);
}

.guide {
    width: 30%;
}

.main__content {
    width: 70%;

}

.main__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 50px;
    color: #333;
}

.main__description {
    justify-self: end; 
    font-size: 24px;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

.main__team {
    display: grid;
    justify-content: center;
    grid-template-rows: auto 1fr;
    gap: 20px;
    text-align: center;
}

.main__row {
    display: grid;
    justify-items: center;
    width: 70%;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    padding-left: 15%;
}

.main__guideimage {
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 0px 20px 10px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.footer-section {
    flex: 1 1 30%;
    min-width: 100px;
    padding-left: 10%;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #FFD700;
}

.footer-section p, .footer-section a {
    font-size: 12px;
    line-height: 1.6;
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #FFD700;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #555;
    padding-top: 10px;
    color: #aaa;
}



/* !!!EXHIBITS!!! */



.main__exhibits {
    display: grid;
    gap: 40px;
}

.exhibit {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    background-color: #FAF3E0;
    padding: 20px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.exhibit__image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.exhibit__description h3 {
    font-size: 26px;
    color: #333;
    margin-bottom: 15px;
}

.exhibit__description p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: left;
    padding-bottom: 15px;
}



/* !!!DID YOU KNOW!!! */



.main__facts {
    display: grid;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;

}

.fact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    background-color: #FAF3E0;
    padding: 20px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.fact.reverse {
    grid-template-columns: 2fr 1fr;
}

.fact__image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fact__image.right {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-self: end;
}


.fact__text h3 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.fact__text p {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    padding-bottom: 20px;
}



/* !!!TICKETS!!! */



.main__plan {
	    display: grid;
    gap: 40px;
    place-items: center;
    min-height: 100vh;
    text-align: center;
	width: 80vw;
	margin-left: 10%;
    padding-bottom: 10px;
	background-color: white;
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5), -5px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 228, 196, 1.0);
}
	

.main__tickets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tickets__info, .tickets__form {
    background-color: #FAF3E0;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.tickets__info h3, .tickets__form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.tickets__info ul, .tickets__form form {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.tickets__form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tickets__form label {
    font-weight: bold;
}

.tickets__form input, .tickets__form select, .tickets__form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tickets__form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tickets__form button:hover {
    background-color: #555;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 40px;
    }

    .header__nav-bar {
        font-size: 14px;
    }

    .main__title {
        font-size: 28px;
    }

    .main__description{
        font-size: 18px;
    }
    .footer-section h4 {
        font-size: 14px;
    }

    .footer-section p, .footer-section a {
        line-height: 1.6;
    }

    .footer-bottom {
        font-size: 10px;
    }

    .exhibit__description h3 {
    font-size: 24px;

    }

    .exhibit__description p {
            font-size: 16px;
    }

    .fact__text h3 {
        font-size: 30px;
    }

    .fact__text p {
        font-size: 18px;
    }

    .tickets__info h3, .tickets__form h3 {
        font-size: 22px;
    }
    

    .tickets__info ul, .tickets__form form {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 36px;
    }

    .header__nav-bar {
        font-size: 12px;
    }

    .main__title {
        font-size: 24px;
    }

    .main__description{
        font-size: 14px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .main {
        flex-direction: column;
        text-align: center;
    }

    .main__content, .main__image-container {
        flex: 1 1 100%;
    }

    .main__row {
        grid-template-columns: 1fr;
    }

    .exhibit {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .exhibit__image {
        margin: 0 auto;
    }
    .fact {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .fact.reverse {
        grid-template-columns: 1fr;
    }

    .fact__image {
        margin: 0 auto;
    }
    .main__tickets {
        grid-template-columns: 1fr;
    }

    .exhibit__description h3 {
        font-size: 22px;

    }

    .exhibit__description p {
            font-size: 14px;
    }

    .fact__text h3 {
        font-size: 26px;
    }

    .fact__text p {
        font-size: 16px;
    }

    .tickets__info h3, .tickets__form h3 {
        font-size: 20px;
    }
    

    .tickets__info ul, .tickets__form form {
        font-size: 12px;
    }
}

@media (max-width: 690px) {
    .header__nav-bar {
        font-size: 10px;
    }
}

@media (max-width: 620px) {

    .header__nav-bar {
        font-size: 8px;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 32px;
    }

    .header__nav-bar {
        font-size: 10px;
    }

    .main__title {
        font-size: 24px;
    }

    .main__description{
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .header__nav-bar {
        font-size: 6px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .main__content {
    width: 75%;
    }
}
